/* styles.css */
body {
    font-family: Arial, sans-serif;
	background-color: black;
}

#myDiv {
    color: white;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    border-bottom: 1px solid #e0e0e0;
	}

main {
    display: flex;
    padding: 10px;
	color: white;
}

#sidebar {
    width: 20%;
    border-right: 1px solid #e0e0e0;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
	font-weight: bold;
}

#sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

#sidebar ul li img {
    vertical-align: middle;
    margin-right: 10px;
}

#videos {
    width: 80%;
}
